.task-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px;
}

.task-item {
  display: flex;
  align-items: center; /* チェックボックスとテキストを中央揃え */
  padding: 8px;
  border-bottom: 1px solid var(--border-color);
}

mat-checkbox {
  flex-grow: 1; /* チェックボックスが横に伸びるように */
  display: flex;
  align-items: center;
  margin: 0; /* 左右の余白をリセット */
  padding: 0; /* 内部の余白もリセット */
}

mat-icon {
  color: #ff6666; /* ゴミ箱アイコンの色 */
  font-size: 24px;
}

mat-icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto; /* 右端に配置 */
}
